.d-inline-block{ display: inline-block; }
.inn-com-form form {box-shadow:none !important;border:none !important;margin-bottom: 0;}
ul.instruction{
	list-style: disc;
    font-size: 16px;
    color: #000;
    font-family: 'CerebriSans';
    line-height: 26px
}
 .inn-banner p {
    color: #e2e2e2;
    margin-bottom: 15px;
}

    .btn.submit-btn {

	    display: inline-block;

	    padding: 6px 12px !important;

	    margin-bottom: 0 !important;

	    font-size: 14px !important;

	    font-weight: normal !important;

	    line-height: 1.42857143 !important;

	    text-align: center;

	    white-space: nowrap;

	    vertical-align: middle;

	    -ms-touch-action: manipulation;

	    touch-action: manipulation;

	    cursor: pointer;

	    -webkit-user-select: none;

	    -moz-user-select: none;

	    -ms-user-select: none;

	    user-select: none;

	    background-image: none;

	    border: 1px solid transparent !important;

	    border-radius: 4px !important;

	    width: auto !important;

	    height: 36px !important;

	    margin-right: 5px !important;

	}


	.book-form.inn-com-form{ overflow: visible !important; display: inline-block;    width: 100%;     background: #fff;
    padding: 25px;
    border-radius: 10px;}

	.download-btn-cont{ display: inline-block; width: 100%; margin-bottom: 10px; }

    .dropdown-content li>a, .dropdown-content li>span{padding:5px 8px; line-height:15px;}

    .colorfont{color: #999;font-weight:500;}

    .select-dropdown{color: #999 !important;font-weight:500 !important;}

	@media only screen and (min-width: 601px) {

    

    .user-navigation svg {

	    width: 20px;

	    display: inline-block;

	    vertical-align: text-bottom;

	}

	.border {

	    border: 1px solid #e9e9ef !important;

	}

	.py-2 {

	    padding-top: .5rem !important;

	    padding-bottom: .5rem !important;

	}

	.px-2 {

	    padding-right: .5rem !important;

	    padding-left: .5rem !important;

	}

    .user-navigation nav,

		.user-navigation {

		    width: 100%;

		    margin-top: 10px;

		    background-color: #fff !important;

		    color: #000;

		    box-shadow: none;

		}

		.user-navigation nav a{ color: #1c84ee; }



		.user-navigation nav>div:nth-child(1) {

		    display: none !important;

		}

		.user-navigation nav>div:nth-child(2) {

		    display: block !important;

		}



		.user-navigation .px-4 {

		    padding-right: 1rem !important;

		    padding-left: 1rem !important;

		}



		.user-navigation nav>div:nth-child(2)>div:nth-child(1) {

		    float: left;

		}



		.user-navigation nav>div:nth-child(2)>div:nth-child(2) {

		    float: right;

		}



		@media screen and (max-width: 576px) {

		    .user-navigation nav>div:nth-child(2)>div:nth-child(1) {

		        width: 100%;

		        text-align: center;

		    }



		    .user-navigation nav>div:nth-child(2)>div:nth-child(2) {

		        float: right;

		        width: 100%;

		        text-align: center;

		    }



		    .table-container {

		        float: left;

		        width: 100%;

		        overflow-x: auto;

		    }

		}